.Footer {
  flex-shrink: 0; /* for setting footer at bottom */
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #046582;
}
