.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  border: none;
  border-radius: 8px;
  margin: 1rem;
  text-align: center;
  width: 195px;
  height: 314px;
  overflow: visible;
  transform: scale(1);
  transition: transform 0.4s ease;
}
.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  transform: scale(1.15);
  background-color: #202124;
  color: #e7eaed;
}

.overflow {
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
}

.card-img-top {
  width: 195px;
  height: 260px;
  border-radius: 8px 8px 0px 0px;
  opacity: 0.869;
  /* transform: scale(1);
  transition: transform 0.4s ease; */
}
.card-img-top:hover {
  /* transform: scale(1.4); */
  opacity: 1;
}
