@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

html,
body,
.root,
.App-content {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #4c4c4c !important;
}

.App-content {
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
